.centered-header {
  height: 100px;
  width: 100%;
  background: linear-gradient(45deg, #f39c12, #1a1a1a);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  z-index: 999;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}
